.UI-Element {
  position: fixed;
  z-index: 2;
}

.search-menu{
  background-color: #FFFFFFE6;
  padding: 20px;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
}

.checkbox-and-icon{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
}

.filters-row{
  display: grid;
  width: 100%px;
  grid-template-columns: 1fr 1fr 1fr;
}


.distance-slider{
  display: grid;
  grid-template-columns:1fr 3fr;
  gap: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.distance-display { 
  height: fit-content;
  margin-top: 8px;

}

.checkbox-and-icon > .icon {
  height: 100%;
}

.searchbar-and-location-button {
  padding: 0;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}